<!DOCTYPE html>
<html>
    <head>
        <title>Solar System</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" />
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"> 
    </head>
    
    <body>
    
        <nav class="row justify-content-center text-light bg-dark">
            <a class="col-2" href="/">Home</a>
            <a class="col-2" href="/mercury">Mercury</a>
            <a class="col-2" href="/venus">Venus</a>
            <a class="col-2" href="/earth">Earth</a>
        </nav>
