<%- include('partials/header.ejs') %>

        <h1> Welcome to Earth!</h1>
        <img src="/img/earth.jpg" alt="Venus" />
        
        <h2>The one with living things</h2>
        <main class='row justify-content-center'>
            <div class='col-6'>Earth is the only planet with living matter, humans. It is the third planet 
            from the sun and first on the line to have a moon. Earth has being mostly
            protected by its atmosphere. It is also classified as an ocean planet where
            more than 70% of its surface is made of water</div>
        <!--15-->
        </main>
<%- include('partials/footer.ejs') %>