<%- include('partials/header.ejs') %>

        <h1> Welcome to Mercury!</h1>
        <img src="/img/mercury.jpg" alt="Mercury" />
        
        <h2>The smallest planet now!</h2>
        <main class="row justify-content-center">
                <div class="col-7">Mercury is currently the smallest planet in the solar system. It is slightly
                bigger than the Earth's moon. It also doen't have any moons or rings. Must be 
                Jealous of Jupiter which has quite a bit of each. Mercury being the closest
                planet to the sun is quite inhospitable. Having a daily temperature of 450&#xb0; celsius
                degrees and -180&#xb0; degrees celsius</div>
                <!--15-->
        </main>
<%- include('partials/footer.ejs') %>