<%- include('partials/header.ejs') %>

        <h1> Welcome to Venus!</h1>
        <img src="/img/venus.jpg" alt="Venus" />
        
        <h2>The hottest planet</h2>
        <main class="row justify-content-center">
                <div class="col-6">Venus is the hosttest planet in the solar system, reaching an incredible 
                465&#xb0; degree celsius! This is mostly caused due to a run off greenhouse
                effect. Like Mercury, Venus has no rings or moons, but is about the size of
                the Earth. </div>
                <!--15-->
        </main>
<%- include('partials/footer.ejs') %>